global
  #debug                                   # uncomment to enable debug mode for HAProxy

defaults
  mode http                                # enable http mode which gives of layer 7 filtering
  timeout connect 5000ms                   # max time to wait for a connection attempt to a server to succeed
  timeout client 50000ms                   # max inactivity time on the client side
  timeout server 50000ms                   # max inactivity time on the server side

backend havaults                             # define a group of backend servers to handle legacy requests
  option httpchk HEAD /v1/sys/health HTTP/1.0
  http-check expect status 200
  server vault_alpha vault_alpha:8200 check fall 1 rise 2
  server vault_bravo vault_bravo:8200 check fall 1 rise 2 backup
  server vault_charli vault_charli:8200 check fall 1 rise 2 backup

frontend haproxy
  bind *:8200                          # define what port to listed to for HAProxy
  default_backend havaults             # set the default server for all request