listener "tcp" {
    address = "0.0.0.0:8200"
    tls_disable = 1
}

storage "dynamodb" {
    access_key = "X"
    secret_key = "X"
    read_capacity = "5"
    write_capacity = "5"
    endpoint = "http://dynamodb:8000"
    ha_enabled = "true"
}

seal "awskms" {
  region     = "us-east-1"
  access_key = "X"
  secret_key = "X"
  kms_key_id = "bc436485-5092-42b8-92a3-0aa8b93536dc"
  endpoint   = "http://localkms:8080"
}

telemetry {
    prometheus_retention_time = "2h"
    disable_hostname = "false"
}

plugin_directory = "/etc/vault/vaultplugins"
ui = "true"
log-level = "trace"